.Rproj.user
.Rhistory
.RData
.Ruserdata
*backup/
*Backup/
*Back/
*BACKUP/
*back/
*tmp/
*Tmp/
*TMP/
*temp/


# 忽略所有 .log 文件
*.log

# 但是，不要忽略这一个特定的 log 文件
!important_audit.log

# 忽略所有 .log 文件
#*.txt 

# 但是，不要忽略这一个特定的 log 文件
# data/*.txt 只会对 data 文件夹第一层的 .txt 文件生效。
# 如果你希望 data 文件夹及其所有子文件夹下的 .txt 文件都不被忽略，你需要使用两个星号 ** 来表示递归
!s1.txt
!s2.txt
!**/data/**/*.txt
!*WSL*.txt
!*Linux*.txt
!*Git*.txt*
!*tutorial*.txt
!*experience*.txt
!*/data/*.txt 
!*/data/**/*.txt
!_backup/